.card {
    background-color: #00BCE6;
    color: black;
    box-shadow:  0 0 8px rgba(0,0,0, 0.5);;
    width: 250px;
    min-height: 150px;
    height: 150px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding: 5px;
}

.card:hover > .card-button {
    opacity: 100%;
}

.description {
    width: inherit;
    overflow-y: auto;
}

.card-button {
    background-color: #0093b4;
    text-align: center;
    opacity: 0%;
    padding: 5px;
    height: 20px;
    border-radius: 50px;
}