.cardList {
    color: black;
    width: 300px;
    min-width: 300px;
    height: 85%;
    margin-right: 25px;
    margin-left: 25px;
}

.cardContainer {
    background-color: #47ceec7c;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8);;

    border-radius: 30px;
    min-height: 150px;
    width: 100%;
    max-height: 100%;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 10px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.holder {
    height: 10%;
}

.holder:hover > .listButton {
    opacity: 100%;
}

.titleText {
    background-color: transparent;
    border: 0;
    font-weight: 700;
    width:70%;
    margin-left: 4%;
    height:100%;
    font-size: 25px;
}

.listButton {
    padding: 5px;
    background-color: #0093b4;
    opacity: 0%;
    height: 65%;
    margin-right: 2%;
    border-radius: 30%;
    border-color: #00BCE6;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.listButton:hover {
    background-color: #00BCE6;
    border-color: #0093b4;
}


#newCardButton {
    min-height: 25px;
    min-width: 25px;

    margin-left: auto;
    margin-right: 5%;

    background-color: #00BCE6;
    border-style: none;
    border-radius: 50%;

    box-shadow: 1px 1px 1px 1px #004f61;
}
#newCardButton:hover {
    background-color: #0093b4;
    box-shadow: none;
    box-shadow: 1px 1px 1px 1px #00bae4;
}