#mainPageBackground {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 85vh;
    overflow-x: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#newListButton {
    height: 50px;
    margin: 50px;
}