#mainPage{
    background-image: linear-gradient(360deg, rgb(0, 69, 90), rgb(0, 173, 226));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100vh;
    width:100vw;
}

#header {
    height: 160p;
    width: 100vw;
}

#mainPageBackground {
    height: calc(100vh - 160px);
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#newListButton {
    min-height: 50px;
    min-width: 100px;
    margin: 50px;
    background-color: #0094B5;
    border-style: none;
    border-radius: 50px;
    color: white;

    box-shadow: 1px 1px 1px 1px #003642;
}

#newListButton:hover {
    background-color: #004b5c;
    box-shadow: 1px 1px 1px 1px #0084a1;
}

#body-main {
    display: flex;
    background-color: #004c5e8c;
}

#hi-user {
    background-color: #0094B5;
    color: white;
    margin: 1%;
    min-width: 10%;
    max-width: 80%;
    padding: 0.5% 1%;
    border-radius: 50px;
}