.quadro {
    padding: 1%;
    color: white;
    margin-left: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 10px;
    height: 3%;
    text-decoration: none;
    max-width: 20%;
    overflow-x: hidden;
    white-space: nowrap;
}

.selecionado {
    background: #1F5B69;
    color: white;
    padding: 1.2%;
    min-width: 5%;
}

.barraNavegacao {
    display: flex;
    background-color: #004c5e8c;
    overflow-x: auto;
}

.botoes-navegacao {
    background-color: #0094B5;
    color: white;
    min-width: 5%;
}
.botoes-navegacao:hover {
    background-color: #00d0ff;
    color: white;
}

.criaQuadro {
    border-radius: 50%;
    border-style: none;
    min-height: 100%;
    width: 5%;
    margin: 0.5% 0.5% 0.5% 2%;
}

.logout {
    margin-left: auto;
    margin-right: 2%;

    border-style: none;
}

.remove-board {
    width: 2%;
    max-width: 20px;
    height: 10%;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    text-align: center;
}
.remove-board:hover {
    background-color: red;
    color: white;
}