.quadro {
    width:80px;
    padding: 1%;
    color: white;
    margin-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 10px;
    height: 3%;
    text-decoration: none;
    max-width: 20%;
    overflow-x: hidden;
    white-space: nowrap;
    flex-shrink: 0;
}



.selecionado {
    background: #1F5B69;
    color: white;
    padding: 1.2%;
    min-width: 5%;
}

.barraNavegacao {
    display: flex;
    background-color: #004c5e8c;
    overflow-x: auto;
}

.botoes-navegacao {
    background-color: #0094B5;
    color: white;
    min-width: 5%;
}
.botoes-navegacao:hover {
    background-color: #00d0ff;
    color: white;
}

.criaQuadro {
    border-radius: 50%;
    border-style: none;
    min-height: 100%;
    width: 5%;
    margin: 0.5% 0.5% 0.5% 2%;
}

.logout {
    margin-left: auto;
    margin-right: 2%;

    border-style: none;
}



.boardEditor:hover > .remove-board {
    opacity: 100%;
}

.boardEditor:hover > .save-board {
    opacity: 100%;
}

.boardEditor {
    display: flex;
    flex-direction: column;
}

.remove-board {
    opacity: 0;
    margin-top: 10%;
    margin-left: 5%;
    height: 20%;
    height: 10%;
    background-color: #0093b4;
    border: none;
    border-radius: 50%;
    text-align: center;
}
.remove-board:hover {
    background-color: red;
    color: white;
}

.save-board {
    background-color: #0093b4;
    border: none;
    margin-top: 30%;
    margin-left: 5%;
    opacity: 0;
}